[[Subject .Subject "Welcome to RadGreen Central"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h4>Hi [[.Name]],</h4>
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td>
						Welcome! Ready to start monitoring?
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p>
							If you are new to RadGreen Central please read the <a href="#">Getting Started</a> guide.
						</p>
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td>
						Thank you for joining our community.
						<br />
						<p>RadGreen Team</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

